# Ignore all
*

# Except
!.gitignore

!requirements.txt
!src
!data/
!database/
!src/utils/
!data/inputs/
!data/outputs/
!data/processed/

!src/fairness.py
!src/run.py
!src/econ_feas.py
!src/env_sus.py
!src/plotting.py
!src/resources.py
!src/resilience.py
!src/transition_speed.py
!src/robust.py
!src/analysis.py
!src/constants.py
!src/data_sources.md

!data/inputs/*
!data/outputs/*
!data/processed/*
!src/utils/*
!database/meta_data.csv
