# Ignore all
*

# Except
!.gitignore

!src
!src/data/
!src/utils/
!src/data/inputs/

!src/fairness.py
!src/run.py
!src/econ_feas.py
!src/env_sus.py
!src/plotting.py
!src/resources.py
!src/resilience.py
!src/transition_speed.py
!src/robust.py
!src/analysis.py
!src/run.py
!src/constants.py
!src/data_sources.md

!src/data/inputs/*
!src/data/outputs/*
!src/utils/*