# Ignore all
*

# Except
!.gitignore

!requirements.txt
!src
!src/data/
!src/database/
!src/utils/
!src/data/inputs/
!src/data/outputs/
!src/data/processed/

!src/fairness.py
!src/run.py
!src/econ_feas.py
!src/env_sus.py
!src/plotting.py
!src/resources.py
!src/resilience.py
!src/transition_speed.py
!src/robust.py
!src/analysis.py
!src/constants.py
!src/data_sources.md

!src/data/inputs/*
!src/data/outputs/*
!src/data/processed/*
!src/utils/*
!src/database/meta_data.csv
